@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MUNDIAL RUSIA 2018</h1>
    <p class="lead">Esta aplicación enlista a los equipos que participarán en el torneo.</p>
</div>

<div class="row">
    <p> *Esta Aplicación trabaja a través de un arbol Binario de Búsqueda</p>
    <div class="col-md-4">
        <h2>País</h2>
        <p>
            Almacenará a los paises como objetos, con el nombre del país y el grupo al que pertenece.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("País", "Create", "Pais")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enteros</h2>
        <p>
            Establece el tipo de dato entero (int) en el árbol.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Enteros", "CreateInt", "Pais")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadenas</h2>
        <p>
            Establece el tipo de dato cadena (string) en el árbol.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Cadenas", "CreateString", "Pais")</a></p>
    </div>
</div>