
@{
    ViewBag.Title = "DeleteString";
}

<h2>DeleteString</h2>
<h3>Estas seguro de eliminar</h3>
<div>
    <h4>Cadena</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Cadena")
        </dt>
      
        <dd>


        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "IndexWord")
        </div>
    }
</div>
