@model IEnumerable<int>

@{
    ViewBag.Title = "Index Numero";
}

<h2>IndexNumero</h2>

<p>
    @Html.ActionLink("Create New", "CreateInt")
</p>
<table class="table">
    <tr>
        <th> Numero</th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>

            <td>
                
                @Html.ActionLink("Delete", "DeleteInt", new { id = item })
            </td>
        </tr>
    }

</table>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
